{%load static%}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!![endif]-->
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <title>Huellitas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Agrega tu archivo de estilos CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="estilos.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/editar_datos_propietario.css' %}">

    <div class="content">
      <div class="">
        <div class="row justify-content-center">
          <div class="col-md-12 contents">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="form-block">
                  <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid login">
                      <img src="{% static 'images/Huellitas.png' %}" alt="Mi imagen" width="10%" height="10%">
                      <a class="navbar-brand titulo" href="{% url 'customer' %}"><h1>Huellitas</h1></a>
                      <div class="d-flex">
                        {% if user.is_authenticated %}
                          <div class='p-2'>
                            {% if user.is_customer and user.propietario %}
                              <a href="{% url 'listar_datos_propietario' %}" class="btn btn-primary">Perfil de {{ user.propietario.nombre }}</a>
                            {% else %}
                              <a href="{% url 'registro_datos_propietario' %}" class="btn btn-primary">Registrar datos de propietario</a>
                            {% endif %}
                          </div>
                          <div class='p-2'>
                            <a href="{% url 'listar_mascotas' %}" class="btn btn-secondary">Mascotas</a>
                          </div>
                          <div class='p-2'>
                            <form class="d-flex" role="search">
                              {% csrf_token %}
                              <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar sesión</a>
                            </form>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
   
  </head >
  <body>
    
      {% block content %}

      {% endblock %}
    
    


   
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>

