{%load static%}
<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <title>Huellitas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">


  </head>
  <body>
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                <nav class="navbar bg-body-tertiary">
                  <div class="container-fluid p-">
                    <img src="{% static 'images/Huellitas.png' %}" alt="Mi imagen" width="10%" height="10%">
                    <a class="navbar-brand titulo" c>Huellitas</a>
                    <form class="d-flex" role="search">
                      
                      <div class='p-2'>
                        <a class="btn btn-outline-primary " href="login/" role="button">Login</a>
                      </div>
                      
                      <div class="p-2">
                        <a class="btn btn-outline-warning" href="registro/" role="button">Registrarse</a>
                      </div>
                        
                    </form>
                  </div>
                </nav>
              </div>
            </div>
          </div>

          <div class='m-2'>
            <h4 class="center">Cuidamos tu mascota</h4>
          </div>

        </div>

        
        <div class="center aqua margenes" >
          <h3>¿Desea algun tipo de cuidado?</h3>
          <div class="celeste">
            <p>Publicar anuncio</p>
          </div>
        </div>

        <div class=" aqua margenes">
          <h3 class="center">Recomendados</h3>

          <div class="container text-center celeste">
            <!-- primera parte Perfil-->


            <!--segunda parte Carrusel-->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <!-- Primer perfil  -->

                  <img src="https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/09/11124552/GettyImages-544673512.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Luis Miguel Juarez</h5>
                    <p>Los animales son terapeuticos</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <!-- Segundo Perfil -->
                  <img src="https://fielpet.com.ar/blog/content/images/2021/06/22.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Rony Carpio</h5>
                    <p>Cuidar animales es mi pasion</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <!-- Tercer Perfil  -->
                  <div class="row align-items-start">
                    <div class="col-md-2">
                      <img  class="" src="https://static.fundacion-affinity.org/cdn/farfuture/qN7Hm3-VRJkAk8t4tACvkuovjty5LAqfNdUCeT25Fr4/mtime:1528830328/sites/default/files/antrozoologia-el-vinculo-entre-humanos-y-animales.jpg" alt="Mi imagen" width="100%" height="100%">
                    </div>
                    <div class="col-md-9">
                      <h3 class="textalingleft">Gabriela ovalle</h3>
                      <p class="texto3">Me encantan los perros, tengo 2 en casa y son muy buenos</p>
                    </div>
                    <div class="col-md-1">
                      <img  class="" src="https://images.vexels.com/media/users/3/182737/isolated/preview/1745ce07bb8df6a05ab32e1c82c90429-icono-de-corazon-plano.png" alt="Corazon" width="125%" height="125%">
                    </div>
                  </div>
                  <img src="https://img.mestizos.cl/upload/2018/07/17161E5C4C43436D17150F55574941781F161C1853434178-1024x576.webp" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Gabriela Ovalle</h5>
                    <p>Me encantan los perros, tengo 2 en casa y son muy buenos</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <!-- Tercera parte Botones -->
            <div class="row align-items-end">
              <div class="col">
                <div class="mt-3" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-outline-primary">Seguir</button>
                  <button type="button" class="btn btn-outline-primary">Ver más...</button>                
                </div>
              </div>
            </div>
        </div>




      </div>

      
    </div>


    
  </div>


  


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  </body>
</html>