{%extends "index.html"%}
{%load static%}
{%block content%}
</div>

<h1 class="center">Aqui puedes encontrar variedad de cuidados para tus mascotas</h1>
<img class="center" style="align-items: center; margin-left: 25%;"  src="{% static 'images/Huellitas.png' %}" alt="Mi imagen" width="50%" height="50%">




<!-- SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
      const slider = document.getElementById("myRange");


      // Función para actualizar el valor en los elementos de etiqueta
      slider.addEventListener("input", function () {
          const value = this.value;
          const labels = document.querySelectorAll(".slider-label");
          labels.forEach((label) => {
              label.style.transform = `translateX(-50%) translateX(${value}%)`;
          });
      });
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  {%endblock%}