{% extends "customer.html" %}
{% load static %}
{% block content %}
<!-- Cuidamos de tu mascota -->
<div class='m-2'>
    <h4 class="center">Cuidamos tu mascota</h4>
</div>

<!-- ¿Desea algun tipo de cuidado? -->
<div class="aqua div-redondeado centrar">
    <h2 style="text-align: left; " class="mb-4">¿Desea algun tipo de cuidado?</h2>
    <div class="celeste div-redondeado"> 
        <h1><a class="btn btn-light btn-lg celeste2" href="{% url 'cuidados' %}">Publicar anuncio</a></h1>
    </div>
</div>

<!-- RECOMENDADOS -->
<div class="aqua div-redondeado centrar mt-3">
    <h3 class="mb-4 text-center">Cuidadores cercanos a ti</h3>
    {% if cuidadores_cercanos %}
    <div id="cuidadoresCarousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            {% for cuidador in cuidadores_cercanos %}
            <li data-bs-target="#cuidadoresCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for cuidador in cuidadores_cercanos %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="center "> 
                    <div class="carousel-caption d-none d-md-block mt-5">
                        <h5>{{ cuidador.nombre }} {{ cuidador.apellido }}</h5>
                        <p>{{ cuidador.descripcion }}</p>
                    
                    </div>
                    <a href="{% url 'contactar_cuidador' cuidador.pk %}" class="btn btn-primary">Contactar</a>
                </div>

        
                </div>
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#cuidadoresCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#cuidadoresCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </a>
    </div>
    {% else %}
    <div class="alert alert-info text-center p-3 mb-2 btn btn-light celeste2">
        No hay cuidadores cercanos para mostrar.
    </div>
    {% endif %}
</div>

{% endblock %}