{%extends "customer.html"%}

{% block content %}  
    <div class="container table-container">
        <h3 class="mt-4">Registrar datos de propietario</h3>
        <form method="post">
            {% csrf_token %}
            <table class="table table-bordered">
                {{ form.as_table }}
            </table>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary ">Guardar cambios</button>
                <a href="{% url 'customer' %}" class="btn btn-danger ">Cancelar</a>
            </div>
        </form>
    </div>



    
{%endblock%}





