{% extends "customer.html" %}

{% block content %}
<div class="container">
  <h3 class="mt-4">Listado de solicitudes de cuidado</h3>
  {% if solicitudes %}
    <ul class="list-group mt-5">
      {% for solicitud in solicitudes %}
        <li class="list-group-item">
          <div>
            <h5 class="mb-1">Fecha de solicitud: {{ solicitud.fecha_solicitud }}</h5>
            <p class="mb-1">Inicio: {{ solicitud.fecha_inicio }} a las {{ solicitud.hora_inicio }}</p>
            <p class="mb-1">Fin: {{ solicitud.fecha_fin }} a las {{ solicitud.hora_fin }}</p>
            <p class="mb-1">Tipo de cuidado: {{ solicitud.tipo_de_cuidado.nombre }}</p>
            <p class="mb-1">Descripción: {{ solicitud.descripcion }}</p>
            <p class="mb-1">Estado: {{ solicitud.estado }}</p>
            <p class="mb-1">Precio: {{ solicitud.precio }}</p>
            <!-- Agregar más detalles aquí si es necesario -->
            
            <div class="mt-2">
              <a href="{% url 'detalle_solicitud_cliente' solicitud.id %}" class="btn btn-primary mt-2">Ver detalles</a>
              <a href="{% url 'editar_solicitud' solicitud.id %}" class="btn btn-secondary">Editar</a>
              <a href="{% url 'eliminar_solicitud' solicitud.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar esta solicitud?');">Eliminar</a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No tienes solicitudes de cuidado.</p>
  {% endif %}
</div>
{% endblock %}
