{% extends "customer.html" %}

{% block content %}
<div class="container">
  <h5>¿QUÉ TIPO DE SERVICIO DESEA?</h5>
  <!-- Primera fila con 6 botones -->
  <div class="row mt-3">
    <div class="col">
      <a class="btn btn-primary" href="{% url 'publicar_alojamiento' %}">Alojamiento <i class="fa fa-home"></i></a>
    </div>
    <div class="col">
      <a class="btn btn-primary" href="{% url 'publicar_paseo' %}">Paseo <i class="fa fa-tree"></i></a>
    </div>
    <div class="col">
      <a class="btn btn-primary">Guardería <i class="fa fa-building"></i></a>
    </div>
    <div class="col">
      <a class="btn btn-primary">Peluquería <i class="fa fa-cut"></i></a>
    </div>
    <div class="col">
      <a class="btn btn-primary">Taxi <i class="fa fa-taxi"></i></a>
    </div>
  </div>
</div>
{% endblock %}
