body{
    background-color: rgba(0, 255, 255, 0.304);
    padding: 4%;
}

/*Textos*/
    .titulo{
        font-size: 30px;
        color: rgb(255, 149, 0);
    }

    .texto3{
        text-align: left;
        font-size: 80%;
    }

/*Imagen redonda*/
    .imagen-redonda {
        width: 150px; /* Ancho de la imagen */
        height: 150px; /* Altura de la imagen */
        border-radius: 50%; /* Establece un radio de borde del 50%, lo que hace que la imagen sea redonda */
        overflow: hidden; /* Asegura que la imagen esté completamente contenida dentro del área redonda */
    }

    .imagen-redonda img {
        width: 100%; /* Asegura que la imagen se ajuste completamente dentro del contenedor redondo */
        height: 100%; /* Mantiene la proporción de la imagen */
    }

/*DIV redonda*/
    .div-redondeado {
        width: 100%; /* Ancho del div */
        height: 100%; /* Altura del div */
        border-radius: 25px; /* Radio de borde para redondear los bordes */
        background-color: #3498db; /* Color de fondo del div (cambiar según tus preferencias) */
        color: #fff; /* Color del texto dentro del div (cambiar según tus preferencias) */
        text-align: center; /* Alineación del contenido en el centro */
        line-height: 200px; /* Centrar verticalmente el contenido */
    }
    .div-pading{
        padding: 4%;
    }

/*Alineacion de texto*/
.center{
    text-align: center;
    padding: 2%;
}
.textalingleft{
    text-align: left;
}
.margenes{
  margin: 1%;
}

/*ALINEACION DE IMAGENES*/

/*FONDOS*/
.aqua{
    background-color: aqua;
    padding: 10%;
}

.celeste{
    background-color: rgb(135, 248, 248);
    
}